.footer{
    border-top: 1px solid ;
    width: 100%;
    display: flex;
    background-color: blue;
    margin-top: 3%;
}
.footerLeft{
    display: flex;
    width: 30%;
    align-items: center;
}
.footerLeft div{width: 80%;padding: 5%;}
.footerLeft img{
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;
}
.footerRight{width: 60%;}
.rightUpper{display: flex;width: 100%;}
:where(.upperlist1, .upperlist2, .upperlist3, .HeadOffice){
    width: 15%;
    list-style: none;
    margin-right: 6%;
}
:where(.upperlist1 li, .upperlist2 li , .upperlist3 li){
    width: 100%;
    margin: 12% 0;
    padding: 1%;
    padding-left: 10%;
}
:where(.upperlist1 li, .upperlist2 li , .upperlist3 li, .HeadOffice li):hover{background-color: rgba(255, 255, 255, 0.404);border-radius: 10px;}
.HeadOffice li{padding-left: 2%;}
:where(.upperlist1 a, .upperlist2 a, .upperlist3 a, .HeadOffice a){
    font-size: 115%;
    text-decoration: none;
    color: white;
}
.HeadOffice li{
    padding: 1%;
    margin-top: 2%;
}
:where(.upperlist1 h3, .upperlist2 h3, .upperlist3 h3, .HeadOffice h3){font-size: 150%;color: white;}
.rightlower{width: 100%;}
.HeadOffice{width: 70%;}
.HeadOffice h3{margin: 1%;}
.footerCopyRight{text-align: center;}
.footerCopyRight p{margin: 0;padding: 0.5%;}