.navBar{
    /* background-color: rgb(50, 172, 50); */
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1% 0;
    margin: 0;
}
.navLeft{
    width: 20%;
    margin: 0;
    padding: 0;
}
:where(.navLeft a,.navigationList a){
    font-size: 120%;
    color: black;
    text-decoration: none;
    animation: slightUp 2.3s ease forwards;
}
:where(.navigationList a):hover{
    font-size: 125%;
    border-bottom: 2px solid ;
}
.navLeft h2{
    font-size: 200%;
    margin: 0;
    color: blue;
    margin-left: 5%;
    animation: slightRight 2s ease forwards;
}
.navLeft h2:hover{
    color: rgb(228, 131, 34);
}
.navCentre{
    width: 55%;
}
.navigationList{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navRight{
    width: 25%;
}
.socialLinks{
    display: flex;
}
.socialLinks img{
    width: 55%;
    animation: slightLeft 2.4s ease forwards;
}
@keyframes slightUp{
    0%{transform: translateY(100px);opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}
@keyframes slightRight{
    0%{transform: translateX(-100px);opacity: 0;}
    100%{transform: translateX(0);opacity: 1;}
}
@keyframes slightLeft{
    0%{transform: translateX(100px);opacity: 0;}
    100%{transform: translateX(0);opacity: 1;}
}